<div class="row">
    <div class="col">
        <h5>Seja Bem Vindo(a):</h5>
        <h5 class="name-user">{{ nameUser }}</h5>
    </div>
</div>
<br>
<div class="row row-cols-2 gx-5">

  <ng-container *ngxPermissionsOnly="permissaoModeradorEUser">
    <div class="col">
      <div class="col-12">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione o Status" class="col-12" [(ngModel)]="statusSelect">
          <nz-option [nzLabel]="item.name" [nzValue]="item.value" *ngFor="let item of listStatusRecommendation">
          </nz-option>
        </nz-select>
      </div>

      <nz-list class="col-12 mt-5" [nzLoading]="initLoading">
        <nz-list-item *ngFor="let item of listRecommendation">
          <ng-container *ngIf="!item.loading">
            <ul nz-list-item-actions>
              <nz-list-item-action>{{ item.id }}</nz-list-item-action>
              <nz-list-item-action>{{ item.status }}</nz-list-item-action>
              <nz-list-item-action>{{ item.nomePessoaEmpresa }}</nz-list-item-action>
              <nz-list-item-action>{{ item.createdDate | brDate }}</nz-list-item-action>
              <nz-list-item-action>{{ item.modifiedDate | brDate }}</nz-list-item-action>
            </ul>
          </ng-container>
        </nz-list-item>
        <ng-container *ngIf="listRecommendation.length">
          <div class="loadmore col-12" nz-list-load-more>
            <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">Carregar Mais</button>
          </div>
        </ng-container>
      </nz-list>
    </div>
  </ng-container>

  <div class="col">
    <div class="row row-cols-2 row-cols-sm-3 g-3">
       <ng-container *ngxPermissionsOnly="permissaoAdmEModerador">
          <div class="col">
              <div class="col rounded shadow-sm text-center card-custom" [routerLink]="['/partner']">
                  Parceiros
              </div>
          </div>
       </ng-container>
       <ng-container *ngxPermissionsOnly="permissaoAdmEModerador">
          <div class="col">
              <div class="col rounded shadow-sm text-center card-custom" [routerLink]="['/seller']">
                  Vendedores
              </div>
          </div>
       </ng-container>
       <ng-container *ngxPermissionsOnly="permissaoAdmEModerador">
          <div class="col">
              <div class="col rounded shadow-sm text-center card-custom" [routerLink]="['/item']">
                  Itens
              </div>
          </div>
       </ng-container>
       <ng-container *ngxPermissionsOnly="permissaoTodos">
          <div class="col">
              <div class="col rounded shadow-sm text-center card-custom" [routerLink]="['/recommendation']">
                  Indicações
              </div>
          </div>
       </ng-container>
      <div class="col">
          <div class="col rounded shadow-sm text-center card-custom" (click)="logout()">
              Sair
          </div>
      </div>
    </div>
  </div>
</div>
