<div class="row">
  <h4 class="col-12 mb-4">
    <span class="text-capitalize">
      {{ action == routeAction.Insert ? 'Cadastrar' : action }}
      Item
    </span>
  </h4>
</div>
<div class="row">
  <form id="formItem" name="formItem" [formGroup]="formItem" #formElement (ngSubmit)="saveItem()">
    <div class="row row-cols-1">

      <div class="col mb-3">
        <label for="nome" class="form-label required">Nome</label>
        <div class="d-flex flex-column">
          <input nz-input formControlName="nome" type="text" />
        </div>
      </div>

      <div class="col mb-3">
        <label for="tipo" class="form-label required">Tipo</label>
        <div class="d-flex flex-column">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione o tipo" formControlName="tipo">
            <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of tipos">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div class="col mb-3">
        <label for="quantidade" class="form-label required">Quantidade</label>
        <div class="d-flex flex-column">
          <input nz-input formControlName="quantidade" type="number" />
        </div>
      </div>

      <div class="col mb-3">
        <label for="bonus" class="form-label required">Bônus</label>
        <div class="d-flex flex-column">
          <input nz-input formControlName="bonus" type="number" />
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-3">
      <button class="capitalize me-2 btn-kebos-line rounded-pill" nz-button nzType="default" type="button" nzSize="default" *ngIf="action != routeAction.View" (click)="cancel()">Cancelar</button>
      <button class="capitalize me-2 btn-kebos-line rounded-pill" nz-button nzType="default" type="button" nzSize="default" *ngIf="action == routeAction.View">Voltar</button>
      <button class="capitalize btn-kebos rounded-pill" nz-button nzType="primary" type="submit" nzSize="default" *ngIf="action != routeAction.View">Confirmar</button>
    </div>
  </form>
</div>
