.flex-row {
    display: grid;
    grid-template-areas: "first second"
        "third fourth"
        "fifth sixth";

    column-gap: 2rem;
}

@media (max-width: 768px) {
    .flex-row {
        display: block;
    }
}