
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kebos-app-primary: mat.define-palette(mat.$indigo-palette);
$kebos-app-accent: mat.define-palette(mat.$green-palette, 700, 800, 900);

// The warn palette is optional (defaults to red).
$kebos-app-warn: mat.define-palette(mat.$green-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kebos-app-theme: mat.define-light-theme((
  color: (
    primary: $kebos-app-primary,
    accent: $kebos-app-accent,
    warn: $kebos-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kebos-app-theme);


@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */

//Menu

.ant-layout-sider {
    background-color: #ffffff;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }

.font-title { font-family: 'Merriweather', serif !important; }

ul li {
  list-style: none;
}

nz-avatar {
  line-height: 104px;
  border-radius: 9px;
}

button.ant-btn {
  border-radius: 5px;
}

fieldset.fieldset-border {
  border-top: 1px solid rgba(173, 173, 173, 0.25) !important;
  padding: 0 0.5em 0.5em 0.5em !important;
}

legend.fieldset-border {
  font-weight: 500;
  font-size: 13px;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-top: -11px;
  background-color: white;
  color: #adadad;
}

input.ant-input:focus {
  outline: 0 !important;
  border: 1px solid #666666 !important;
  -webkit-box-shadow: 0 0 8px rgb(102 175 233 / 60%) !important;
  box-shadow: 0 0 8px rgb(102 175 233 / 60%) !important;
}

label {
  font-size: 13px;
  color: #333333;
  font-weight: 500;
  line-height: 16px;
}

.btn-kebos {
  background-color: #477A5E;

  &:hover {
    background-color: #181818;
  }
}

.btn-kebos-line {
  border: 1px solid #477A5E;
  background-color: transparent;

  &:hover {
    background-color: #181818;
    color: #ffffff;
  }
}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;

}

.nz-select-custom {
  width: 100%;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  min-width: 150px !important;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.link .ant-btn span {
  text-decoration: underline !important;
}

input.ant-input:focus {
  border: 0px solid transparent;
}

.link {
  color: #477A5E;
}

.termsOfUseModal .ant-modal-body {
  overflow-y: auto;
  max-height: 70vh;
  padding: 3rem;
}

.ant-input-affix-wrapper > input.ant-input:focus {
  box-shadow: none !important;
  border: 0px transparent !important;
}

.modal-status-signup {
  .ant-result-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
  }
}

.ant-list-item-action {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}



//Scroll

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  //border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888ad;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

