<div class="d-flex container w-100 login-container align-items-center justify-content-center">
    <form class="login-form py-5 px-3 shadow" id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row d-flex align-items-center justify-content-center">
            <img src="/assets/images/logo.png" class="login-form-logo">
        </div>
        <div class="row mt-3 px-3">
            <div class="form-group mb-3">
                <label for="login">Usuário</label>
                <input nz-input formControlName="login" name="login" autocomplete="login" />
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input nz-input formControlName="password" type="password" autocomplete="current-password" />
            </div>
        </div>
        <div class="row mt-5 px-3">
            <div class="d-flex flex-column">
                <button nz-button nzType="primary" type="submit" form="loginForm" nzSize="default"
                    class="mb-3">Entrar</button>
                <button nz-button nzType="link" type="button" nzSize="default">Esqueci minha senha</button>
            </div>
        </div>
    </form>
</div>
